
*, ::before, ::after {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    line-height: 2.5ch;

}

.wrapper {
    background-color: white;
}

h2 {
    font-size: 36px;
    margin-block: 12px; 
    line-height: normal;   
}

.main {
    padding: 24px;
}

.subtext {
    margin-block: 12px;
}

.feature-container {
    display: flex;
    gap: 12px;
    margin-block:12px;
}

.form-email {
    margin-block-start: 28px;
}

.email-title {
    font-size: 12px;
    font-weight: bold;
    /* margin-block: 8px; */
}

.email-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin-block: 8px;
}

.btn {
    margin-block: 20px;
    width: 100%;
    padding-block: 16px;
    border-radius: 8px;
    color: white;
    background: hsl(235, 18%, 26%);
    border:none;
    font-weight: bold;
}

.btn:hover, .btn:focus-visible {
    background-image: linear-gradient(to right, #ea4e6a, tomato);
    box-shadow: 0 10px 20px rgb(255 99 71 / 0.7) ;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

}

.image-container {
    background-color: transparent;
    width: 100%;
    height: min(284px, 26vh);
    border-collapse: separate;
}


.success-modal {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    border: none;
    padding: 24px;
}



.email-container {
    font-weight: bold;
}

@media (min-width:770px) {
    body {
        background-color: hsl(235, 18%, 26%);
    }

    .modal-wrapper {
        background-color: white;
        padding: 32px;
        border-radius: 48px;
        width: 50ch;
    
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    .wrapper {
        width: 900px;
        display: grid;
        grid-template-areas: 
        "main head-image";
        grid-template-columns: 1fr 1fr;
        padding: 24px;
        border-radius: 40px;
        column-gap: 24px;
    }

    .image-container {
        grid-area: head-image;
        height: 100%;
    }

    .image-container img {
        border-radius: 16px;
    }

    h2 {
        font-size: 48px;
    }

    .success-modal {
        margin: auto;
        max-width: 50ch;
        padding: 40px;
        border-radius: 32px;
        border: none;
    }

    .success-modal::backdrop {
        background-color: hsl(235, 18%, 26%);
    }

    .modal-wrapper {
        display: grid;
        row-gap: 32px;
    }

    .success-modal h2 {
        line-height: 1.8ch;
        margin: 0;
    }

}
